@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Patient Name</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This specialty is not currently practiced by any of our doctors</p>
}
else
{
  <h4>Doctors practicing this specialty:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Doctor.Name</li>
  }
  </ul>
}

<ul>
@foreach(var join in Model.JoinEntities)
{
  <li>@join.Doctor.Name</li>
  @using (Html.BeginForm("DeleteDoctor", "Specialties"))
  {
    @Html.Hidden("joinId", @join.DoctorSpecialtyId)
    <input type="submit" value="Delete"/>
  }
}
</ul>


<p>@Html.ActionLink("Add a Doctor", "AddDoctor", new { id = Model.SpecialtyId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Specialty", "Edit", new { id = Model.SpecialtyId })</p>
<p>@Html.ActionLink("Delete Specialty", "Delete", new { id = Model.SpecialtyId })</p>